In [2]:
import pandas as pd
import numpy as np

In [13]:
result_df = pd.DataFrame(result)

In [15]:
result_df = result_df.reset_index()

In [16]:
result_df.columns = ['id', 'permeability']

In [17]:
result_df

        id  permeability
0        0     41.764822
1        1      1.001062
2        2      5.241369
3        3      5.360862
4        4      4.474751
...    ...           ...
4995  4995      0.565952
4996  4996      1.502201
4997  4997      4.198506
4998  4998      3.147588
4999  4999      0.079916

[5000 rows x 2 columns]

In [19]:
result_df.to_csv('submission_parker_21_03_23_trees.csv', index=False)